/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --base-font: "Inter-Variable";
  --variant-font: "PressStart2P-Regular";
  --button-text-color: #ffffff;
  --color-border: black;
  --main-font-size: 18px;
  --card-title-font-weight: 700;
  --label-font-size: 14px;
  --bg-color: #fff;
  --color-label: black;
  --variant-font-size: 14px;
  --heart-hover: #000;
  --modal-padding-inline: 30px;
  --modal-color: black;
  --text-header-size: 23px;
  --font-size-logo: 65px;
}

@media (width <= 375px) {
  :root {
    --modal-padding-inline: 40px;
    --text-header-size: 14px;
    --font-size-logo: 49px;
  }
}
